* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #E0DFE0;
}

.body-container {
    position: relative;
    min-height: 98vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 25px;
    margin-bottom: 120px;
}

nav {
    flex-grow: 1;
}

.header-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
}

.header-nav-list a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 400;
}

.header-nav-list li:nth-of-type(1) {
    margin-left: 3em;
}

.header-nav-list li:nth-of-type(2) {
    margin-left: auto;
    margin-right: 3em;
}

.header-nav-list li:nth-of-type(3) {
    margin-right: 3em;
}

/* Content */
.section-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-grow: 1;
    margin: 3em;
}

/* Introduction */
.introduction-title {
    overflow: hidden;
}

.education,
.experience {
    width: 90%;
}

.introduction-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.introduction-content img {
    width: 85px;
    height: 85px;
    margin-right: 2em;
}

.education-experience,
.technical-personal-skills {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* gap: 2em; */
}

.introduction-title::after {
    content: "";
    display: inline-block;
    height: 0.6em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid black;
}

.education-title::after, 
.experience-title::after {
    content: "";
    display: inline-block;
    height: 0.6em;
    vertical-align: bottom;
    width: 50%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid black;
}

.technical-skills-title::after,
.personal-skills-title::after {
    content: "";
    display: inline-block;
    height: 0.6em;
    vertical-align: bottom;
    width: 50%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid black;
}

.education, 
.experience,
.technical-skills,
.personal-skills {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1em;
}

.education_1 p,
.education_2 p,
.experience_1 p,
.experience_2 p,
.experience_3 p,
.experience_4 p {
    margin: 0.2em 0;
}

.experience_1,
.experience_2,
.experience_3,
.experience_4 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1em;
}

.desc {
    font-size: 12px;
    opacity: 0.6;
}

.experience_1_date,
.experience_2_date,
.experience_3_date,
.experience_4_date {
    font-size: 12px;
    font-weight: bold;
}


.experience {
    /* margin-right: 1em; */
    gap: 10px;
}

/* technical-skills */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.list li {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
}

/* .personal-skills {
    margin-right: 5em;
} */

footer {
    padding: 2em;
    text-align: center;
}

.footer-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
}

.footer-nav-list li:nth-of-type(2) {
    margin-left: auto;
    margin-right: 3em;
}

.title {
    margin-left: 3em;
}

.social a {
    color: black;
    font-size: 22px;
    font-weight: 400;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
    margin: 1em;
}


@media (max-width: 850px) {
    .header-nav-list a {
        text-decoration: none;
        color: black;
        font-size: 22px;
        font-weight: 400;
    }

    .title {
        font-size: 12px;
    }

    .social a {
        color: black;
        font-size: 12px;
        font-weight: 400;
        text-underline-offset: 8px;
        text-decoration-thickness: 1px;
        margin: 1em;
    }
}