* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #E0DFE0;
}

.body-container {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    min-height: 98vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 25px;
    margin-bottom: 120px;
}

nav {
    flex-grow: 1;
}

.header-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
}

.header-nav-list a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 400;
}

.header-nav-list li:nth-of-type(1) {
    margin-left: 3em;
}

.header-nav-list li:nth-of-type(2) {
    margin-left: auto;
    margin-right: 3em;
}

.header-nav-list li:nth-of-type(3) {
    margin-right: 3em;
}

.content-width {
    width: 86%;
    margin: 0 auto;
    margin-bottom: 250px;
  }
  
  .slideshow {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .slideshow-items {
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  .item {
    position: absolute;
    width: 100%;
    height: auto;
  }
  
  .item-image-container {
    position: absolute;
    width: 42%;
  }
  
  .item-image {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 446px;
    max-height: 669px;
    opacity: 0;
    display: block;
    transition: opacity 0.3s ease-out 0.45s;
  }
  
  .item.active .item-image {
    opacity: 1;
  }
  
  .item.active .item-image-container::before {
    opacity: 0.8;
  }
  
  .item-description {
    position: absolute;
    right: 0;
    width: 50%;
    padding-right: 5%;
    line-height: 2.5;
    max-width: 530px;
    margin-top: 1em;
  }
  
  .space-description {
    line-height: 2;
  }
  
  .paragraph b,
  .tech-stack {
    font-size: 14px;
    font-weight: 300;
  }
  
  .space-paragraph b {
    font-size: 14px;
    font-weight: 300;
    color: black;
  }

  .item-header .vertical-part {
    margin: 0 -4px;
    font-size: 10px;
    color: #555555;
  }
  
  .vertical-part {
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.vertical-part a {
    text-decoration: none;
}

.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

button.pulse {
    --color: #ef6eae;
    --hover: #c84e92;
    color: var(--color);
    transition: 0.25s;
}

button.pulse:hover,
button.pulse:focus {
    border-color: var(--hover);
    color: #fff;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

.link-container {
    display: flex;
    justify-content: start;
    gap: 2em;
}

.repository a,
.live a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    margin-right: 1em;
}

.title {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.space b {
    color: #5072a7;
}

.title b {
    font-size: 65px;
}

.vertical-part b {
    display: inline-block;
    transform: translateY(100%);
}

.item-header .vertical-part b {
    transition: 0.5s;
}

.item-description .technology {
    white-space: pre-line;
}

.item-description .vertical-part b {
    transition: 0.21s;
}

.item.active .item-description .vertical-part b {
    transform: translateY(0);
}


/* Controls ----------------------------------------------------------------------*/
.controls {
    position: absolute;
    top: 10%;
    right: 20px;
    transform: translateY(-50%);
}

.controls ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls ul li {
    width: 15px;
    height: 15px;
    margin: 3px;
    background: #bdbdd5;
    cursor: pointer;
}

.controls ul li.active {
    background: #6a6a77;
}

footer {
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    position: fixed;
    bottom: 0;
    width: 100%; */
    padding: 2em;
    text-align: center;
    margin-top: auto;
}

.footer-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
}

.footer-nav-list li:nth-of-type(2) {
    margin-left: auto;
    margin-right: 3em;
}

.title {
    margin-left: 3em;
}

.social a {
    color: black;
    font-size: 22px;
    font-weight: 400;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
    margin: 1em;
}

@media (max-width: 850px) {
    .header-nav-list a {
        text-decoration: none;
        color: black;
        font-size: 22px;
        font-weight: 400;
    }

    .item-description {
        padding-right: 7%;
    }

    .title b {
        font-size: 30px;
    }

    .item-description {
        position: absolute;
        right: 0;
        width: 50%;
        padding-right: 5%;
        line-height: 2.2;
        max-width: 530px;
        margin-top: 0;
    }

    .space-paragraph b,
    .paragraph b {
        font-size: 11px;
    }

    .technology b {
        font-size: 11px;
    }

    .tech-stack b {
        font-size: 11px;
    }

    .link-container > span > b > a {
        font-size: 11px;
    }

    .title {
        font-size: 12px;
    }

    .item-header .vertical-part {
        margin: 0 -4px;
        font-size: 10px;
        color: #555555;
        margin-bottom: 2em;
    }

    button a {
        font-size: 12px;
    }

    button {
        background: none;
        border: 2px solid;
        font: inherit;
        line-height: 1;
        margin: 0.3em;
        padding: 0.25em 1.025em;
    }

    .social a {
        color: black;
        font-size: 12px;
        font-weight: 400;
        text-underline-offset: 8px;
        text-decoration-thickness: 1px;
        margin: 1em;
    }
}

@media screen and (max-width: 600px) {
    .header-nav-list {
        display: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .hamburger span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        margin-top: 25px;
        margin-bottom: 2em;
    }

    .header-nav-list a {
        text-decoration: none;
        color: black;
        font-size: 15px;
        font-weight: 400;
    }

    .header-nav-list li:nth-of-type(1) {
        margin-left: 0;
    }

    .header-nav-list li:nth-of-type(2) {
        margin-left: 0;
        margin-right: 0;
    }
    
    .header-nav-list li:nth-of-type(3) {
        margin-right: 0;
    }
    
    .header-nav-list.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 20px;
        background-color: white;
        z-index: 1;
        padding: 35px;
        width: 165px;
    }

    .hamburger.onclick + .header-nav-list {
        display: flex !important;
    }

    .content-width {
        width: 86%;
        margin: 0 auto;
        margin-bottom: 250px;
    }
    
    .slideshow {
        position: inherit;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .slideshow-items {
        /* position: inherit; */
        width: 100%;
        height: auto;
    }
    
    .item {
        position: relative;
    }

    .item-product {
        top: 25px;
    }

    .item-space {
        position: absolute;
        top: 25px;
        left: 0;
    }
    

    .item-image-container {
        display: block;
        position: relative;
        width: 100%;
        z-index: 0;
    }
    
    .item-image {
        width: 100%;
        height: auto;
        max-width: 446px;
        max-height: 669px;
        opacity: 0;
        display: block;
        transition: opacity 0.3s ease-out 0.45s;
    }
    
    .item.active .item-image {
        opacity: 1;
    }
    
    .item.active .item-image-container::before {
        opacity: 0.8;
    }
    
    .item-description {
        position: relative;
        margin: 0;
        width: 100%;
        text-align: center;
        line-height: 2.5;
        max-width: 530px;
        margin-top: 1em;
    }
    
    
    .paragraph b,
    .tech-stack {
        font-size: 14px;
        font-weight: 300;
    }
    
    .space-paragraph b {
        font-size: 14px;
        font-weight: 300;
        color: black;
    }
    
    .item-content {
        display: flex;
        flex-direction: column;
    }
    
    .item-header {
        text-align: center;
    }
    
    .space-header {
        top: 0;
    }
    
    .item-header .vertical-part {
        margin: 0 -4px;
        font-size: 10px;
        color: #555555;
    }
    
    .vertical-part {
        overflow: hidden;
        display: inline-block;
    }
    
    .vertical-part a {
        text-underline-offset: 8px;
        text-decoration-thickness: 1px;
    }
    
    .link-container {
        display: flex;
        justify-content: start;
        gap: 2em;
    }
    
    .repository a,
    .live a {
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        margin-right: 1em;
    }
    
    .title {
        display: flex;
        justify-content: start;
        flex-direction: column;
    }
    
    .space b {
        color: #5072A7;
    }
    
    .title b {
        font-size: 35px;
    }
    
    .vertical-part b {
        display: inline-block;
        transform: translateY(100%);
    }
    
    .item-header .vertical-part b {
        transition: 0.5s;
    }
    
    .item-description .technology {
        white-space: pre-line;
    }
    
    .item-description .vertical-part b {
        transition: 0.21s;
    }
    
    .item.active .item-header .vertical-part b {
        transform: translateY(0);
    }
    
    .item.active .item-description .vertical-part b {
        transform: translateY(0);
    }

    .space-description {
        position: relative;
        margin: 0;
        width: 100%;
        text-align: center;
        line-height: 2.5;
        max-width: 530px;
        margin-top: 1em;
    }

    .space-header {
        text-align: center;
    }

    .space-header .vertical-part {
        margin: 0 -4px;
        font-size: 10px;
        color: #555555;
    }

    .vertical-part {
        overflow: hidden;
        display: inline-block;
    }

    .vertical-part a {
        text-underline-offset: 8px;
        text-decoration-thickness: 1px;
    }

    .link-container {
        display: flex;
        justify-content: center;
        gap: 2em;
    }

    .repository a,
    .live a {
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        margin-right: 1em;
    }

    .title {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .space b {
        color: #5072A7;
    }

    .title b {
        font-size: 35px;
    }
    
    /* Controls ----------------------------------------------------------------------*/
    .controls {
        position: absolute;
        top: 10%;
        right: 20px;
        transform: translateY(-50%);
    }
    
    .controls ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .controls ul li {
        width: 10px;
        height: 10px;
        margin: 3px;
        background: #bdbdd5;
        cursor: pointer;
    }
    
    .controls ul li.active {
        background: #6a6a77;
    }

    footer {
        padding: 0;
        text-align: center;
        /* margin-top: auto; */
        margin: 1em;
    }
    
    .footer-nav-list {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1em;
    }
    
    .footer-nav-list li:nth-of-type(2) {
        margin-left: 0;
        margin-right: 0;
    }
    
    .title {
        font-size: 10px;
        margin-left: 0;
    }
    
    .social a {
        color: black;
        font-size: 16px;
        font-weight: 400;
        text-underline-offset: 8px;
        text-decoration-thickness: 1px;
        margin: 1em;
    }
}