* {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.body-container {
    position: relative;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 25px;
    margin-bottom: 120px;
}

nav {
    flex-grow: 1;
}

.header-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
}

.header-nav-list a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 400;
}

.header-nav-list li:nth-of-type(1) {
    margin-left: 3em;
}

.header-nav-list li:nth-of-type(2) {
    margin-left: auto;
}

.header-nav-list li:nth-of-type(3) {
    margin-right: 3em;
}

.content-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 3em;
}

.content-info {
    margin-right: 3em;
}

.content-info h2 {
    font-size: 34px;
}

.content-info a {
    font-size: 34px;
    color: black;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
    display: inline-block;
    margin-bottom: 2em;
}

.content-info p {
    font-size: 14px;
    line-height: 15px;
}

.content-container img {
    height: 581px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
}

.footer-nav-list li:nth-of-type(2) {
    margin-left: auto;
    margin-right: 3em;
}

.title {
    margin-left: 3em;
}

.social a {
    color: black;
    font-size: 22px;
    font-weight: 400;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
    margin: 1em;
}